{% extends "base_other.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-md-12 mt-4">
            <h1 class="display-1">Feed</h1>
        </div>
    </div>
    {% for article in articles %}
        <style>
            #summary{{ article.id }} {
                font-size: 14px;
                line-height: 1.5;
            }

            #summary{{ article.id }} p.collapse:not(.show) {
                height: 63px !important;
                overflow: hidden;

                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }

            #summary{{ article.id }} p.collapsing {
                min-height: 63px !important;
            }

            #summary{{ article.id }} a.collapsed:after {
                content: '+ Read More';
            }

            #summary{{ article.id }} a:not(.collapsed):after {
                content: '- Read Less';
            }
        </style>
        <div class="row mt-5">
            <div class="col-md-12">
                <a href="{{ url_for('article',id=article['id'],query=query) }}"><h3>{{ article['title'] }}</h3></a>
            </div>
        </div>
        <div class="row">
            {% if article['src'] %}
                <div class="col-md-8">
            {% else %}
                <div class="col-md-12">
            {% endif %}
            <p class="text-muted">
                {% for author in article['authors'] %}
                    {{ author }}{{ ", " if not loop.last }}
                {% endfor %}
            </p>
            <p class="text-secondary mb-0">
                <small>{{ article['pub_date'] }} in <b><a
                        href="{{ url_for('journal',id=article['journal_id'],query=query) }}">{{ article['journal_name'] }}</a></b>
                </small>
            </p>
            {% if article.abstract == '' %}
            {% else %}
                <div id="summary{{ article['id'] }}">
                    <p class="collapse mb-1" id="collapseSummary{{ article['id'] }}">
                        {{ article['abstract'] }}</p>
                    <a class="collapsed" data-toggle="collapse" href="#collapseSummary{{ article['id'] }}"
                       aria-expanded="false"
                       aria-controls="collapseSummary"></a>
                </div>
                <div class="mt-2">
                    <a class="btn btn-link pl-0" href>Add to Mendeley</a> <a class="btn btn-link" href>Show similar</a>
                </div>
            {% endif %}
            </div>
            {% if article['src'] %}
                <div class="col-md-4 vertical-center">
                    <img class="img-fluid mt-1" src="{{ article['src'] }}">
                </div>
            {% endif %}
            </div>
    {% endfor %}
{% endblock %}