{% extends "base.html" %}

{% block app_content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Хей пидор</h1>
            <p class="lead text-muted">Тут полезные для работы кнопочки</p>

        </div>
    </section>
    <div class="container text-center">
        <a class="btn btn-light btn-md">Parse XMLs</a>
        <a class="btn btn-light btn-md">Retrieve citations</a>
        <a class="btn btn-light btn-md">Database info</a>
    </div>
{% endblock %}