{% extends "base.html" %}

{% block app_content %}
    <p class="mt-3">
        <small>Found: {{ counts }} articles</small>
    </p>
    <div class="row">
        <div class="col-md-12">
            {% for res in answers %}
            <div class="card">
                <style>
                    #summary{{ res['id'] }} {
                        font-size: 14px;
                        line-height: 1.5;
                    }

                    #summary{{ res['id'] }} p.collapse:not(.show) {
                        height: 63px !important;
                        overflow: hidden;

                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }

                    #summary{{ res['id'] }} p.collapsing {
                        min-height: 63px !important;
                    }

                    #summary{{ res['id'] }} a.collapsed:after {
                        content: '+ Read More';
                    }

                    #summary{{ res['id'] }} a:not(.collapsed):after {
                        content: '- Read Less';
                    }
                </style>
                    <div class="card-header">
                        <a href="{{ url_for('article',id=res['doi'],query=query) }}"><h3 class="card-title">{{ res['title'] }}</h3></a>
                    </div>
                <div class="card-body pt-1">
            <p class="text-muted">
                {% for author in res['authors'] %}
                    {{ author['name'] }}{{ ", " if not loop.last }}
                {% endfor %}
            </p>
            <p class="text-secondary mb-0">
                <small>{{ res['pub_date'] }} in <b><a
                        href="{{ url_for('journal',id=res['journal_name'],query=query) }}">{{ res['journal_name'] }}</a></b>
                </small>
            </p>
            {% if res.abstract == '' %}
            {% else %}
                <div id="summary{{ res['id'] }}">
                    <p class="collapse mb-1" id="collapseSummary{{ res['id'] }}">
                        {{ res['abstract'] }}</p>
                    <a class="collapsed" data-toggle="collapse" href="#collapseSummary{{ res['id'] }}"
                       aria-expanded="false"
                       aria-controls="collapseSummary"></a>
                </div>
                <div class="mt-3">
                    <a href="{{ url_for('add_to_library', id = res['doi']) }}" class="btn btn-sm btn-secondary mr-2"><i class="fe fe-file-plus mr-2"></i>Add to my library</a>
                    <a href="{{ url_for('article',id=res['doi'],query=query) }}" class="btn btn-sm btn-secondary"><i class="fe fe-message-square mr-2"></i>Comment</a>
                </div>
            {% endif %}
            </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <ul class="pagination mt-4">
                        {% set pagend = 0 %}
                        {% if page != 1 %}
                            <li class="page-item"><a class="page-link"
                                                     href="/search?query={{ query }}&page={{ (page - 1) }}">Previous</a>
                            </li>
                        {% endif %}
                        {% if npages > 6 %}
                            {% for i in range(6) %}
                                <li class="page-item
                            {% if loop.index == page %}
                            active
                            {% endif %}
"><a class="page-link" href="/search?query={{ query }}&page={{ loop.index }}">{{ loop.index }}</a></li>
                            {% endfor %}
                            {% if page == 7 %}
                                {% if npages != 7 %}
                                    <li class="page-item active"><a class="page-link" href="">7</a></li>
                                    <li class="page-item"><a class="page-link" href="">...</a></li>
                                {% else %}
                                    <li class="page-item active"><a class="page-link" href="#">7</a></li>
                                {% endif %}
                            {% else %}
                                <li class="page-item"><a class="page-link" href="#">...</a></li>
                                {% if page > 7 %}
                                    <li class="page-item active"><a class="page-link" href="">{{ page }}</a></li>
                                    {% if npages != 8 %}
                                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% for i in range(npages) %}
                                <li class="page-item
                            {% if loop.index == page %}
                            active
                            {% endif %}
"><a class="page-link" href="/search?query={{ query }}&page={{ loop.index }}">{{ loop.index }}</a></li>
                            {% endfor %}
                        {% endif %}
                        {% if page != npages %}
                            <li class="page-item"><a class="page-link"
                                                     href="/search?query={{ query }}&page={{ (page + 1) }}">Next</a>
                            </li>
                        {% endif %}

                    </ul>
                </nav>

            </div>
        </div>
{% endblock %}