{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Artica{% else %}Welcome to Artica{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-light bg-light">
        <div class="container d-flex justify-content-between">
            <a class="navbar-brand" href="#">
                Artica
            </a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <style>
        .jumbotron-heading {
            font-weight: 300;
        }

        .jumbotron .container {
            max-width: 40rem;
        }
        .jumbotron {
            background-color: transparent;
        }
    </style>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# содержимое приложения которое должно быть предоставлено в блоке app_content #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
