{% extends "base_mendeley.html" %}

{% block app_content %}
    <div class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>{{ doc['title'] }}</h2>
                    <p class="text-muted">
                        {% if doc['authors'] %}
                            {% for author in doc['authors'] %}
                                {{ author['first_name'] }} {{ author['last_name'] }}{{ "," if not loop.last }}
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p class="text-secondary mb-0">
                        <small>Published at
                            {{ doc['year'] }}{% if doc['source'] %} in <b>{{ doc['source'] }}</b>{% endif %}</small>
                    </p>
                    {% if doc['abstract'] %}
                        <p>
                            {{ doc['abstract'] }}
                        </p>
                    {% endif %}
                    {% if doc['identifiers'] %}
                        <p>
                            {% if doc['identifiers']['doi'] %}
                                <span class="badge badge-light">DOI</span>
                                <a href="http://dx.doi.org/{{ doc['identifiers']['doi'] }}">{{ doc['identifiers']['doi'] }}</a>
                            {% endif %}
                        </p>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h2>Similar documents:</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}